<<<<<<< HEAD

.matrix .input_area{
    white-space-collapse: preserve;
    text-wrap: nowrap;
    overflow-wrap: normal;
    width: 200px;
    min-height: 6em;
    font-size: 20px;
    resize: both;
    margin: auto;
    background-color: black;
    color: white;
}
.matrix .input_area::placeholder{
    font-size: 20px;
    opacity: 0.3;
    color:azure;
}
.matrix .input_area:focus::placeholder{
    color:transparent;
}
textarea{
    white-space-collapse: preserve;
    text-wrap: nowrap;
    overflow-wrap: normal;
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
}
.matrix .Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}
.matrix .Buttons button{
    width: 8vw;
    min-width: fit-content;
    border-radius: 20px;
    border: none;
    height: 25px;
    padding: 1px 6px;
    font-family: Arial, Helvetica, sans-serif;
}
.matrix .Buttons button:hover {
    border: 1px solid black;
}
.matrix .operations{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center center;
    width: 100%;
}

.matrix .operations button{
    width: 100%;
    height: 30px;
    margin: 2px;
    border: none;
    background-color: rgb(34, 197, 238);
    color: white;
    border-radius: 20px;
    padding: 1px 6px;
}

.matrix .operations button:hover{
    border:1px solid black;
    background-color: white;
    color:rgb(34, 197, 238);
    cursor: pointer;
}

@media screen and (min-width: 200px) and (max-width: 1132px) {
    .matrix .operations {
        grid-template-columns: 1fr;
        place-items: center center;
    }
} 
/* 
body{
    margin:0;
    padding:0 5px;
    background-color: #20232F;
} */
.NavBar{
    display: flex;
    justify-content: space-between ;
}
.heading{
    margin: 5px 5px auto 5px;
    font-family: cursive;
    color:antiquewhite;
}
.NavBar p{
    position: relative;
    margin:10px;
    margin-bottom: 2px;
    margin-top:20px;
    padding-top:3px;
    width:30px;
    text-align:center;
    font-size: 20px;
    font-weight: bolder;
    color:white;
    border:2px solid white;
}
.NavBar p:hover{
    cursor:pointer;
    background-color: white;
    color:rgb(34, 197, 238);
    box-shadow: 2px 2px 10px white;
    
}
.matrix_calc{
    margin:0;
    padding: 0;
    display: grid;
    grid-template-columns: 1.5fr 7fr;
}
@media screen and (max-width:800px){
    .matrix_calc{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.list{
    list-style: none;
    margin-left: 0;
    padding-left: 0px;
    margin-top:0px;
}
.list li{
    padding-top:10px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    padding-left: 10px;
    font-weight: bold;
    color: rgb(202, 202, 88);
    transition: ease 0.4s all;
}
@media screen and (max-width:800px){
    .list li{
        text-align: center;
    }
}
.list li:hover{
    background-color: rgb(34, 197, 238);
    cursor: pointer;
    color:white;
    border:1px solid black;
}
/* MATIRX CSS */
.calculations{
    display:grid;
    grid-template-columns: 2fr 1fr 2fr;
    place-items: center center;
    padding:10px;
}
@media screen and (max-width:550px){
    .calculations{
        grid-template-columns: 1fr;
        place-items: center;
        padding:10px;
    }
}
/* MIDDLE PART CSS */
.middle_part{
    position: relative;
    display: flex;
    flex-direction: column;
    top:100px;
    justify-content: center;
}
@media screen and (max-width:550px){
    .middle_part{
        top:15px;
    }
}
.middle_part button{
    margin:5px;
}
.middle_part .swap{
    padding:10px 10px 5px 10px;
    width:fit-content;
    margin:auto auto;
    background-color: rgb(34, 197, 238);
    border:none;
    color:white;
    border-radius: 5px;
    font-size:20px;
    margin-bottom:5px;
}
.middle_part .calc{
    background-color: rgb(34, 197, 238);
    margin:5px auto;
    border:none;
    border-radius: 10px;
    height:30px;
    width:100px;
    color:white;
}
.middle_part button:hover{
    background-color: white;
    color:rgb(34, 197, 238);
    border:1px solid black;
    cursor:pointer;
}
/* EXPRESSION CSS */
.expression{
    display: flex;
    justify-content: center;
    height:30px;
}
.expression #input_expressions{
    font-size: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    border:1px solid white;
    padding:5px;
    width:30vw;
}
.expression #input_expressions:focus::placeholder{
    color:transparent;
}
.expression button{
    width:40px;
    font-size: 20px;
    height:30px;
    border:1.5px solid black;
}
.expression button:hover{
    background-color: white;
    border:none;
    cursor: pointer;
}
/* DISPLAY DECIMAL */
.display_decimals{
    padding: 10px;;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.display_decimals input#display_decimal{
    width:15px;
    height: 15px;
}
.display_decimals label{
    color:white;
}
.display_decimals button{
    background-color: rgb(34, 197, 238);
    border:none;
    color:white;
    margin:auto 5px;
    font-size: 20px;
}
.display_decimals button:hover{
    border:1px solid black;
    background-color: white;
    color:rgb(34, 197, 238);
    cursor:pointer;
}
.display_decimals .digit_unshow{
    display: none;
    transition: all 0.6s ease;
    opacity: 0;
}
.display_decimals .digit_show{
    display: inline;
    transition: all 0.6s ease;
    opacity: 1;
}
.display_decimals #digits{
    margin-left:10px;
    height:25px;
    width:30vw;
    background-color: black;
    border : white 1px solid;
    color:white;
}
.display_decimals #value_digits{
    margin-left:10px;
    height:20px;
    width:8vw;
    background-color: black;
    border : white 1px solid;
    color:white;
}
.display_decimals #value_digits::placeholder{
    color:grey;
    left:5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    opacity: 1;
}
/* CSS OF DIFFERENT PAGES LINK TITLE */
.page_link_css{
    background-color: black;
    color:white !important;
}
/* LANGUAGE CSS */
.show_lang{
    background-color: rgb(11, 209, 209);
    color:black;
    list-style: none;
    position: absolute;
    right:10px;
    max-height: 999px;
    height:fit-content;
    overflow-y:visible;
    z-index: 9999;
    transition: all 0.6s ease-in-out;

    padding-left: 0px;
}
.hide_lang{
    list-style: none;
    position: absolute;
    right:10px;
    max-height: 0;
    height:0;
    z-index: 9999;
    overflow:hidden;
    transition: all 0.6s ease-in-out;
    padding-left: 0px;
}
.language_list li{
    padding:10px;
    border:1px solid white;
}
.language_list li:hover{
    cursor:pointer;
    background-color:rgb(34, 79, 79);
    color:white;
}


.footer .mathematical_expr {
    list-style: none;
    position: relative;
    left: -18px;
}
.footer p {
    font-size: 20px;
    color: antiquewhite;
    margin-left: 15px;
}
@media screen and (max-width: 1200px) and (min-width: 550px) {
    .show{
        width: 500px;
        height: 500px;
    }
}
.notshow{
    display: none;
}
.show{
    display: inline;
    background-color: rgb(195, 152, 72);
    border-radius: 25px;
    box-shadow: whitesmoke 2px 2px 2px 5px;
    cursor: text;
    margin-bottom: 20px;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.arrow {
    position: relative;
    top: 2px;
    right: 5px;
    left: -1px;
    text-align: center;
    color: antiquewhite;
}

/* inputbox */
.inputBoxes {
    display: grid;
    gap: 2px;
    place-items: center;
    margin: auto;
    padding: 5px 15px;
}
.box {
    width: 60px; /* Adjust the box width as needed */
    height:30px; /* Adjust the box height as needed */
    background-color: black; /* Adjust the box background color as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:white;
    border-radius: 5px;
    border:none;
}
.box:focus{
    box-shadow: 2px 2px 2px 2px white;
    border:none;
=======

.matrix .input_area{
    white-space-collapse: preserve;
    text-wrap: nowrap;
    overflow-wrap: normal;
    width: 200px;
    min-height: 6em;
    font-size: 20px;
    resize: both;
    margin: auto;
    background-color: black;
    color: white;
}
.matrix .input_area::placeholder{
    font-size: 20px;
    opacity: 0.3;
    color:azure;
}
.matrix .input_area:focus::placeholder{
    color:transparent;
}
textarea{
    white-space-collapse: preserve;
    text-wrap: nowrap;
    overflow-wrap: normal;
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
}
.matrix .Buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}
.matrix .Buttons button{
    width: 8vw;
    min-width: fit-content;
    border-radius: 20px;
    border: none;
    height: 25px;
    padding: 1px 6px;
    font-family: Arial, Helvetica, sans-serif;
}
.matrix .Buttons button:hover {
    border: 1px solid black;
}
.matrix .operations{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center center;
    width: 100%;
}

.matrix .operations button{
    width: 100%;
    height: 30px;
    margin: 2px;
    border: none;
    background-color: rgb(34, 197, 238);
    color: white;
    border-radius: 20px;
    padding: 1px 6px;
}

.matrix .operations button:hover{
    border:1px solid black;
    background-color: white;
    color:rgb(34, 197, 238);
    cursor: pointer;
}

@media screen and (min-width: 200px) and (max-width: 1132px) {
    .matrix .operations {
        grid-template-columns: 1fr;
        place-items: center center;
    }
} 
/* 
body{
    margin:0;
    padding:0 5px;
    background-color: #20232F;
} */
.NavBar{
    display: flex;
    justify-content: space-between ;
}
.heading{
    margin: 5px 5px auto 5px;
    font-family: cursive;
    color:antiquewhite;
}
.NavBar p{
    position: relative;
    margin:10px;
    margin-bottom: 2px;
    margin-top:20px;
    padding-top:3px;
    width:30px;
    text-align:center;
    font-size: 20px;
    font-weight: bolder;
    color:white;
    border:2px solid white;
}
.NavBar p:hover{
    cursor:pointer;
    background-color: white;
    color:rgb(34, 197, 238);
    box-shadow: 2px 2px 10px white;
    
}
.matrix_calc{
    margin:0;
    padding: 0;
    display: grid;
    grid-template-columns: 1.5fr 7fr;
}
@media screen and (max-width:800px){
    .matrix_calc{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.list{
    list-style: none;
    margin-left: 0;
    padding-left: 0px;
    margin-top:0px;
}
.list li{
    padding-top:10px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    padding-left: 10px;
    font-weight: bold;
    color: rgb(202, 202, 88);
    transition: ease 0.4s all;
}
@media screen and (max-width:800px){
    .list li{
        text-align: center;
    }
}
.list li:hover{
    background-color: rgb(34, 197, 238);
    cursor: pointer;
    color:white;
    border:1px solid black;
}
/* MATIRX CSS */
.calculations{
    display:grid;
    grid-template-columns: 2fr 1fr 2fr;
    place-items: center center;
    padding:10px;
}
@media screen and (max-width:550px){
    .calculations{
        grid-template-columns: 1fr;
        place-items: center;
        padding:10px;
    }
}
/* MIDDLE PART CSS */
.middle_part{
    position: relative;
    display: flex;
    flex-direction: column;
    top:100px;
    justify-content: center;
}
@media screen and (max-width:550px){
    .middle_part{
        top:15px;
    }
}
.middle_part button{
    margin:5px;
}
.middle_part .swap{
    padding:10px 10px 5px 10px;
    width:fit-content;
    margin:auto auto;
    background-color: rgb(34, 197, 238);
    border:none;
    color:white;
    border-radius: 5px;
    font-size:20px;
    margin-bottom:5px;
}
.middle_part .calc{
    background-color: rgb(34, 197, 238);
    margin:5px auto;
    border:none;
    border-radius: 10px;
    height:30px;
    width:100px;
    color:white;
}
.middle_part button:hover{
    background-color: white;
    color:rgb(34, 197, 238);
    border:1px solid black;
    cursor:pointer;
}
/* EXPRESSION CSS */
.expression{
    display: flex;
    justify-content: center;
    height:30px;
}
.expression #input_expressions{
    font-size: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    border:1px solid white;
    padding:5px;
    width:30vw;
}
.expression #input_expressions:focus::placeholder{
    color:transparent;
}
.expression button{
    width:40px;
    font-size: 20px;
    height:30px;
    border:1.5px solid black;
}
.expression button:hover{
    background-color: white;
    border:none;
    cursor: pointer;
}
/* DISPLAY DECIMAL */
.display_decimals{
    padding: 10px;;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
.display_decimals input#display_decimal{
    width:15px;
    height: 15px;
}
.display_decimals label{
    color:white;
}
.display_decimals button{
    background-color: rgb(34, 197, 238);
    border:none;
    color:white;
    margin:auto 5px;
    font-size: 20px;
}
.display_decimals button:hover{
    border:1px solid black;
    background-color: white;
    color:rgb(34, 197, 238);
    cursor:pointer;
}
.display_decimals .digit_unshow{
    display: none;
    transition: all 0.6s ease;
    opacity: 0;
}
.display_decimals .digit_show{
    display: inline;
    transition: all 0.6s ease;
    opacity: 1;
}
.display_decimals #digits{
    margin-left:10px;
    height:25px;
    width:30vw;
    background-color: black;
    border : white 1px solid;
    color:white;
}
.display_decimals #value_digits{
    margin-left:10px;
    height:20px;
    width:8vw;
    background-color: black;
    border : white 1px solid;
    color:white;
}
.display_decimals #value_digits::placeholder{
    color:grey;
    left:5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  
    opacity: 1;
}
/* CSS OF DIFFERENT PAGES LINK TITLE */
.page_link_css{
    background-color: black;
    color:white !important;
}
/* LANGUAGE CSS */
.show_lang{
    background-color: rgb(11, 209, 209);
    color:black;
    list-style: none;
    position: absolute;
    right:10px;
    max-height: 999px;
    height:fit-content;
    overflow-y:visible;
    z-index: 9999;
    transition: all 0.6s ease-in-out;

    padding-left: 0px;
}
.hide_lang{
    list-style: none;
    position: absolute;
    right:10px;
    max-height: 0;
    height:0;
    z-index: 9999;
    overflow:hidden;
    transition: all 0.6s ease-in-out;
    padding-left: 0px;
}
.language_list li{
    padding:10px;
    border:1px solid white;
}
.language_list li:hover{
    cursor:pointer;
    background-color:rgb(34, 79, 79);
    color:white;
}


.footer .mathematical_expr {
    list-style: none;
    position: relative;
    left: -18px;
}
.footer p {
    font-size: 20px;
    color: antiquewhite;
    margin-left: 15px;
}
@media screen and (max-width: 1200px) and (min-width: 550px) {
    .show{
        width: 500px;
        height: 500px;
    }
}
.notshow{
    display: none;
}
.show{
    display: inline;
    background-color: rgb(195, 152, 72);
    border-radius: 25px;
    box-shadow: whitesmoke 2px 2px 2px 5px;
    cursor: text;
    margin-bottom: 20px;
}
img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.arrow {
    position: relative;
    top: 2px;
    right: 5px;
    left: -1px;
    text-align: center;
    color: antiquewhite;
}

/* inputbox */
.inputBoxes {
    display: grid;
    gap: 2px;
    place-items: center;
    margin: auto;
    padding: 5px 15px;
}
.box {
    width: 60px; /* Adjust the box width as needed */
    height:30px; /* Adjust the box height as needed */
    background-color: black; /* Adjust the box background color as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color:white;
    border-radius: 5px;
    border:none;
}
.box:focus{
    box-shadow: 2px 2px 2px 2px white;
    border:none;
>>>>>>> bfb9e6c (Dev Files)
}